<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="ScoreClassConfig" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <ScoreClassConfig>
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=test1"/>
  </ScoreClassConfig>
</configuration>